* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.contentFlow {
  color: white;
  background-color: black;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 666px) { 
  .contentFlow {
      width: 75%;
  }
}